<pre>
  This structure here is scalable and we add add modify to fit our old, current and future fridges.
</pre>

<b>In our code we demo creating 2 different types of fridges (we can of course create as many we need for testing)
  For each we call findMyFood on 3 different items: milk, gouda, veggies</b>

<br/><br/>

<b>We will notice the same call, to find the same item will return (as expected) different results based on the fridge
  configuration</b>

  <div class="row">
    <div class="column" style="background-color:#aaa;">
      <h2>Fridge 1(SideBySide/30 By 36/ 2 3)</h2>
      <p (click)="findMilkFridge1()">Click to find Milk</p>
      <p (click)="findGouda1()">Click to find Gouda</p>
      <p (click)="findVeggies1()">Click to find Veggies</p>
    </div>
    <div class="column" style="background-color:#bbb;">
      <h2>Fridge 2 (Top freezer/30 By 36/ 2 3)</h2>
      <p (click)="findMilkFridge2()">Click to find Milk</p>
      <p (click)="findGouda2()">Click to find Gouda</p>
      <p (click)="findVeggies2()">Click to find Veggies</p>
    </div>
  </div>
